
auth.json
config.json
## used to help olionkey map out what functions is used
##functions.txt
## used to help Olionkey see what still needs to be made dealing with player data.
##functionsToMake.txt