#Dont delete
auth.json/node_modules/safe-buffer/index.d.ts
/node_modules/safe-buffer/index.d.ts
auth.json
/node_modules/discord.js/typings/
/node_modules/discord.js/typings/
/node_modules/discord.js/typings/
auth.json
